.login-container{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    position:relative;
    width:100%;
    height:100vh;
    background: #FC5C7D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6A82FB, #FC5C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.login-content{
    width:85%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    margin: auto;
    position: absolute;
}

.submit-button-container{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.submit-button {
    width: 90%;
    height: 40px;
    border-radius:25px;
    border: none;
    outline: none;
    background:rgb(167, 3, 167);
    color:white;
    font-size: 14px;
    font-weight: bold;
}

.submit-button:hover{
    opacity: 0.6;
}

.label-error{
    font-size: 12px;
    color: red;
    width: fit-content;
    height: fit-content;
    padding: 0 5px;
    box-sizing: border-box;
    border-radius: 5px;
    margin-left: 10px;

}

.label-alert{
    font-size: 14px;
    color: red;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 10px;

}


